In [2]:
import re
import pandas as pd

In [15]:
df_1 = pd.read_csv('df_main500.csv')
df_2 = pd.read_csv('df_main600.csv')
df_3 = pd.read_csv('df_main800.csv')

In [16]:
df_1.head(2)

,name,lat,long,url,rating,comment,sal1,sal2,id_open_close_main,id_customer_main,id_option_main,id_review_main,zone
0,Cafe’ Amazon RM2076,13.992462,100.648220,https://www.google.com/maps/place/Cafe%E2%80%9...,4.2,-115,฿1-100 ต่อคน,รายงานโดยผู้ใช้ 7 ราย,oc_500,ci_500,option_500,review_500,rungsit
1,ร้านกาแฟ อเมซอน,13.989384,100.634434,https://www.google.com/maps/place/%E0%B8%A3%E0...,4.4,-103,฿1-100 ต่อคน,รายงานโดยผู้ใช้ 7 ราย,oc_501,ci_501,option_501,review_501,rungsit

In [17]:
for df in [df_1, df_2, df_3]:
    df['sal2'] = df['sal2'].str.extract(r'(\d+)').astype(float)

In [8]:
df_1.tail()

,name,lat,long,url,rating,comment,sal1,sal2,id_open_close_main,id_customer_main,id_option_main,id_review_main
3,CAFÉ AMAZON รังสิต 200 ปี ซอย 4,13.989060,100.606208,https://www.google.com/maps/place/CAF%C3%89+AM...,4.3,(12),฿1-100 ต่อคน,5.0,oc_503,ci_503,option_503,review_503
4,Café Amazon สาขาม.รังสิต,13.970512,100.630860,https://www.google.com/maps/place/Caf%C3%A9+Am...,3.5,(6),NaN,NaN,oc_504,ci_504,option_504,review_504
5,Café Amazon สาขา HomePro ฟิวเจอร์ปาร์ค รังสิต ...,13.993954,100.615304,https://www.google.com/maps/place/Caf%C3%A9+Am...,3.0,(3),NaN,NaN,oc_505,ci_505,option_505,review_505
6,Café Amazon สาขา หมู่บ้านรัตนโกสินทร์ 200 ปี (...,13.987801,100.609859,https://www.google.com/maps/place/Caf%C3%A9+Am...,4.2,(9),฿1-100 ต่อคน,4.0,oc_506,ci_506,option_506,review_506
7,คาเฟ่ อเมซอน สน.PTTRM สาขา บางพูน 1,13.985177,100.598168,https://www.google.com/maps/place/%E0%B8%84%E0...,4.6,(5),NaN,NaN,oc_507,ci_507,option_507,review_507

In [9]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                8 non-null      object
 1   lat                 8 non-null      float64
 2   long                8 non-null      float64
 3   url                 8 non-null      object
 4   rating              8 non-null      float64
 5   comment             8 non-null      object
 6   sal1                5 non-null      object
 7   sal2                5 non-null      float64
 8   id_open_close_main  8 non-null      object
 9   id_customer_main    8 non-null      object
 10  id_option_main      8 non-null      object
 11  id_review_main      8 non-null      object
dtypes: float64(4), object(8)
memory usage: 896.0+ bytes

In [18]:
for df in [df_1, df_2, df_3]:
    df['comment'] = (
        pd.to_numeric(df['comment'].astype(str).str.replace(',', '', regex=False), errors='coerce')
        .abs()
    )

In [19]:
df_1.head()

,name,lat,long,url,rating,comment,sal1,sal2,id_open_close_main,id_customer_main,id_option_main,id_review_main,zone
0,Cafe’ Amazon RM2076,13.992462,100.648220,https://www.google.com/maps/place/Cafe%E2%80%9...,4.2,115,฿1-100 ต่อคน,7.0,oc_500,ci_500,option_500,review_500,rungsit
1,ร้านกาแฟ อเมซอน,13.989384,100.634434,https://www.google.com/maps/place/%E0%B8%A3%E0...,4.4,103,฿1-100 ต่อคน,7.0,oc_501,ci_501,option_501,review_501,rungsit
2,Café Amazon สาขา โครงการรังสิตสเตชั่น (สำนักงา...,14.007563,100.614831,https://www.google.com/maps/place/Caf%C3%A9+Am...,3.5,13,฿100-200 ต่อคน,5.0,oc_502,ci_502,option_502,review_502,rungsit
3,CAFÉ AMAZON รังสิต 200 ปี ซอย 4,13.989060,100.606208,https://www.google.com/maps/place/CAF%C3%89+AM...,4.3,12,฿1-100 ต่อคน,5.0,oc_503,ci_503,option_503,review_503,rungsit
4,Café Amazon สาขาม.รังสิต,13.970512,100.630860,https://www.google.com/maps/place/Caf%C3%A9+Am...,3.5,6,NaN,NaN,oc_504,ci_504,option_504,review_504,rungsit

In [20]:
from haversine import haversine, Unit

# จุดตำแหน่งสถานที่ทั่วไป
point_rangsit = (13.9904187, 100.5949663)
point_khlong_rangsit = (13.9811737, 100.5983345)
point_lak_hok = (13.9659073, 100.5924792)

# มหาวิทยาลัยและพิกัด พร้อมแมปชื่อคอลัมน์
universities = {
    "distance_rmutt": (13.9734028, 100.6136685),
    "distance_nbu": (13.9975329, 100.6712262),  # North Bangkok
    "distance_bu": (14.0395107, 100.6127897),   # Bangkok University
    "distance_tu": (14.0722696, 100.6056305),   # Thammasat University
    "distance_rsu": (13.9670095, 100.582841),   # RSU
}

def add_distance_columns(df):
    # จุดทั่วไป
    df['distance_rangsit'] = df.apply(lambda row: haversine((row['lat'], row['long']), point_rangsit, unit=Unit.KILOMETERS), axis=1)
    df['distance_khlong_rangsit'] = df.apply(lambda row: haversine((row['lat'], row['long']), point_khlong_rangsit, unit=Unit.KILOMETERS), axis=1)
    df['distance_lak_hok'] = df.apply(lambda row: haversine((row['lat'], row['long']), point_lak_hok, unit=Unit.KILOMETERS), axis=1)

    # ระยะทางมหาวิทยาลัย ใช้ชื่อคอลัมน์ตามที่กำหนด
    for col_name, coords in universities.items():
        df[col_name] = df.apply(lambda row: haversine((row['lat'], row['long']), coords, unit=Unit.KILOMETERS), axis=1)

    return df

In [21]:
df_1 = add_distance_columns(df_1)
df_2 = add_distance_columns(df_2)
df_3 = add_distance_columns(df_3)

In [22]:
df_1.head()

,name,lat,long,url,rating,comment,sal1,sal2,id_open_close_main,id_customer_main,...,id_review_main,zone,distance_rangsit,distance_khlong_rangsit,distance_lak_hok,distance_rmutt,distance_nbu,distance_bu,distance_tu,distance_rsu
0,Cafe’ Amazon RM2076,13.992462,100.648220,https://www.google.com/maps/place/Cafe%E2%80%9...,4.2,115,฿1-100 ต่อคน,7.0,oc_500,ci_500,...,review_500,rungsit,5.750316,5.526942,6.700225,4.288353,2.545516,6.479161,9.992976,7.601018
1,ร้านกาแฟ อเมซอน,13.989384,100.634434,https://www.google.com/maps/place/%E0%B8%A3%E0...,4.4,103,฿1-100 ต่อคน,7.0,oc_501,ci_501,...,review_501,rungsit,4.259964,4.000615,5.225716,2.859694,4.071846,6.043252,9.726211,6.097600
2,Café Amazon สาขา โครงการรังสิตสเตชั่น (สำนักงา...,14.007563,100.614831,https://www.google.com/maps/place/Caf%C3%A9+Am...,3.5,13,฿100-200 ต่อคน,5.0,oc_502,ci_502,...,review_502,rungsit,2.868412,3.431994,5.222182,3.800549,6.185930,3.559212,7.263149,5.678762
3,CAFÉ AMAZON รังสิต 200 ปี ซอย 4,13.989060,100.606208,https://www.google.com/maps/place/CAF%C3%89+AM...,4.3,12,฿1-100 ต่อคน,5.0,oc_503,ci_503,...,review_503,rungsit,1.222328,1.220953,2.970249,1.918096,7.078128,5.654628,9.252708,3.516978
4,Café Amazon สาขาม.รังสิต,13.970512,100.630860,https://www.google.com/maps/place/Caf%C3%A9+Am...,3.5,6,NaN,NaN,oc_504,ci_504,...,review_504,rungsit,4.460949,3.704490,4.173142,1.882750,5.291262,7.916160,11.637719,5.196244

In [23]:
# df_1.to_csv('df_main_newclean.csv', index=False,encoding='utf-8-sig')
df_1.to_csv('df_1_main_clean.csv', index=False,encoding='utf-8-sig')
df_2.to_csv('df_2_main_clean.csv', index=False,encoding='utf-8-sig')
df_3.to_csv('df_3_main_clean.csv', index=False,encoding='utf-8-sig')

# df_ci

In [29]:
df_1_ci = pd.read_csv('df_ci500.csv')
df_2_ci = pd.read_csv('df_ci600.csv')
df_3_ci = pd.read_csv('df_ci800.csv')

In [30]:
df_1_ci['customer']

0      โดยปกติแล้วเวลา 05:00 จะมีลูกค้าประมาณ 0% เทีย...
1      โดยปกติแล้วเวลา 06:00 จะมีลูกค้าประมาณ 32% เที...
2      โดยปกติแล้วเวลา 07:00 จะมีลูกค้าประมาณ 45% เที...
3      โดยปกติแล้วเวลา 08:00 จะมีลูกค้าประมาณ 51% เที...
4      โดยปกติแล้วเวลา 09:00 จะมีลูกค้าประมาณ 61% เที...
                             ...
747    โดยปกติแล้วเวลา 17:00 จะมีลูกค้าประมาณ 52% เที...
748    โดยปกติแล้วเวลา 18:00 จะมีลูกค้าประมาณ 0% เทีย...
749    โดยปกติแล้วเวลา 19:00 จะมีลูกค้าประมาณ 0% เทีย...
750    โดยปกติแล้วเวลา 20:00 จะมีลูกค้าประมาณ 0% เทีย...
751    โดยปกติแล้วเวลา 21:00 จะมีลูกค้าประมาณ 0% เทีย...
Name: customer, Length: 752, dtype: object

In [31]:
import pandas as pd
import re
from datetime import datetime
import numpy as np

In [32]:
def extract_and_convert(text):
    if pd.isna(text):
        return pd.Series([np.nan, np.nan])
    
    match = re.search(r'เวลา (\d{2}:\d{2}).*?ประมาณ (\d+)%', text)
    if match:
        # แปลงเวลาเป็น datetime.time
        try:
            time_val = datetime.strptime(match.group(1), "%H:%M").time()
        except ValueError:
            time_val = np.nan

        # แปลงเปอร์เซ็นต์เป็น int
        percent_val = int(match.group(2))

        return pd.Series([time_val, percent_val])
    else:
        return pd.Series([np.nan, np.nan])

In [33]:
df_1_ci[['time', 'percent']] = df_1_ci['customer'].apply(extract_and_convert)
df_2_ci[['time', 'percent']] = df_2_ci['customer'].apply(extract_and_convert)
df_3_ci[['time', 'percent']] = df_3_ci['customer'].apply(extract_and_convert)

In [34]:
df_1_ci['time'].unique()

array([datetime.time(5, 0), datetime.time(6, 0), datetime.time(7, 0),
       datetime.time(8, 0), datetime.time(9, 0), datetime.time(10, 0),
       datetime.time(11, 0), datetime.time(12, 0), datetime.time(13, 0),
       datetime.time(14, 0), datetime.time(15, 0), datetime.time(16, 0),
       datetime.time(17, 0), datetime.time(18, 0), datetime.time(19, 0),
       datetime.time(20, 0), datetime.time(21, 0), datetime.time(22, 0),
       datetime.time(23, 0), datetime.time(4, 0), nan], dtype=object)

In [35]:
df_1_ci['percent'].unique()

array([  0.,  32.,  45.,  51.,  61.,  54.,  48.,  64.,  58.,  29.,  74.,
        70.,  38.,  22.,  67.,  80.,  93.,  96.,  90.,  83.,  35.,  41.,
        16., 100.,  77.,  25.,  71.,  95.,  86.,  69.,  63.,  36.,  50.,
        66.,  81.,  82.,  60.,  55.,  47.,  52.,  78.,  73.,  62.,  53.,
        30.,  65.,  76.,  75.,  59.,  57.,  72.,  39.,  84.,  79.,  42.,
        94.,  97.,  92.,  89.,  56.,  46.,  68.,  28.,  23.,  31.,  44.,
        13.,   5.,  21.,  nan,  34.,  15.,  18.,  26.,  10.,  87.,  40.,
        24.,  43.,  98.,  37.,  12.,  17.,  11.,  88.])

In [36]:
df_1_ci

,id_customer_main,customer,customer_day,time,percent
0,ci_500,โดยปกติแล้วเวลา 05:00 จะมีลูกค้าประมาณ 0% เทีย...,วันอาทิตย์,05:00:00,0.0
1,ci_500,โดยปกติแล้วเวลา 06:00 จะมีลูกค้าประมาณ 32% เที...,วันอาทิตย์,06:00:00,32.0
2,ci_500,โดยปกติแล้วเวลา 07:00 จะมีลูกค้าประมาณ 45% เที...,วันอาทิตย์,07:00:00,45.0
3,ci_500,โดยปกติแล้วเวลา 08:00 จะมีลูกค้าประมาณ 51% เที...,วันอาทิตย์,08:00:00,51.0
4,ci_500,โดยปกติแล้วเวลา 09:00 จะมีลูกค้าประมาณ 61% เที...,วันอาทิตย์,09:00:00,61.0
...,...,...,...,...,...
747,ci_507,โดยปกติแล้วเวลา 17:00 จะมีลูกค้าประมาณ 52% เที...,วันเสาร์,17:00:00,52.0
748,ci_507,โดยปกติแล้วเวลา 18:00 จะมีลูกค้าประมาณ 0% เทีย...,วันเสาร์,18:00:00,0.0
749,ci_507,โดยปกติแล้วเวลา 19:00 จะมีลูกค้าประมาณ 0% เทีย...,วันเสาร์,19:00:00,0.0
750,ci_507,โดยปกติแล้วเวลา 20:00 จะมีลูกค้าประมาณ 0% เทีย...,วันเสาร์,20:00:00,0.0
751,ci_507,โดยปกติแล้วเวลา 21:00 จะมีลูกค้าประมาณ 0% เทีย...,วันเสาร์,21:00:00,0.0

In [37]:
df_1_ci.to_csv('df_1_ci_clean.csv', index=False,encoding='utf-8-sig')
df_2_ci.to_csv('df_2_ci_clean.csv', index=False,encoding='utf-8-sig')
df_3_ci.to_csv('df_3_ci_clean.csv', index=False,encoding='utf-8-sig')

# df_op

In [38]:
import pandas as pd

In [46]:
df_1_op = pd.read_csv('df_op500.csv')
df_2_op= pd.read_csv('df_op600.csv')
df_3_op = pd.read_csv('df_op800.csv')

In [47]:
df_1_op

   id_open_close_main day_open_close  open  close
0              oc_500      วันจันทร์   6.0   18.0
1              oc_500      วันอังคาร   6.0   18.0
2              oc_500         วันพุธ   6.0   18.0
3              oc_500    วันพฤหัสบดี   6.0   18.0
4              oc_500       วันศุกร์   6.0   18.0
5              oc_500       วันเสาร์   6.0   18.0
6              oc_500     วันอาทิตย์   6.0   18.0
7              oc_501      วันจันทร์   8.3   19.0
8              oc_501      วันอังคาร   8.3   19.0
9              oc_501         วันพุธ   8.3   19.0
10             oc_501    วันพฤหัสบดี   8.3   19.0
11             oc_501       วันศุกร์   8.3   19.0
12             oc_501       วันเสาร์   8.3   19.0
13             oc_501     วันอาทิตย์   8.3   19.0
14             oc_502      วันจันทร์   5.0   21.0
15             oc_502      วันอังคาร   5.0   21.0
16             oc_502         วันพุธ   5.0   21.0
17             oc_502    วันพฤหัสบดี   5.0   21.0
18             oc_502       วันศุกร์   5.0   21.0
19             oc_502       วันเสาร์   5.0   21.0
20             oc_502     วันอาทิตย์   5.0   21.0
21             oc_503      วันจันทร์   6.0   17.0
22             oc_503      วันอังคาร   6.0   17.0
23             oc_503         วันพุธ   6.0   17.0
24             oc_503    วันพฤหัสบดี   6.0   17.0
25             oc_503       วันศุกร์   6.0   17.0
26             oc_503       วันเสาร์   6.0   17.0
27             oc_503     วันอาทิตย์   6.0   17.0
28                NaN            NaN   NaN    NaN
29             oc_505      วันจันทร์  10.0   20.3
30             oc_505      วันอังคาร  10.0   20.3
31             oc_505         วันพุธ  10.0   20.3
32             oc_505    วันพฤหัสบดี  10.0   20.3
33             oc_505       วันศุกร์  10.0   20.3
34             oc_505       วันเสาร์  10.0   20.3
35             oc_505     วันอาทิตย์  10.0   20.3
36             oc_506      วันจันทร์   6.3   19.0
37             oc_506      วันอังคาร   6.3   19.0
38             oc_506         วันพุธ   6.3   19.0
39             oc_506    วันพฤหัสบดี   6.3   19.0
40             oc_506       วันศุกร์   6.3   19.0
41             oc_506       วันเสาร์   6.3   19.0
42             oc_506     วันอาทิตย์   6.3   19.0
43             oc_507      วันจันทร์   6.0   18.0
44             oc_507      วันอังคาร   6.0   18.0
45             oc_507         วันพุธ   6.0   18.0
46             oc_507    วันพฤหัสบดี   6.0   18.0
47             oc_507       วันศุกร์   6.0   18.0
48             oc_507       วันเสาร์   6.0   18.0
49             oc_507     วันอาทิตย์   6.0   18.0

In [48]:
df_1_op.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_open_close_main  49 non-null     object
 1   day_open_close      49 non-null     object
 2   open                49 non-null     float64
 3   close               49 non-null     float64
dtypes: float64(2), object(2)
memory usage: 1.7+ KB

In [49]:
df_1_op['open'].unique()

array([ 6. ,  8.3,  5. ,  nan, 10. ,  6.3])

In [50]:
df_1_op['close'].unique()

array([18. , 19. , 21. , 17. ,  nan, 20.3])

In [51]:
from datetime import time

def float_to_time(x):
    if pd.isna(x):
        return None
    hour = int(x)
    minute = int((x - hour) * 100)  # ใช้ *100 ตามที่คุณแจ้ง
    return time(hour, minute)

In [52]:
df_1_op['open_time'] = df_1_op['open'].apply(float_to_time)
df_1_op['open_close'] = df_1_op['close'].apply(float_to_time)
df_2_op['open_time'] = df_2_op['open'].apply(float_to_time)
df_2_op['open_close'] = df_2_op['close'].apply(float_to_time)
df_3_op['open_time'] = df_3_op['open'].apply(float_to_time)
df_3_op['open_close'] = df_3_op['close'].apply(float_to_time)

In [53]:
df_1_op

   id_open_close_main day_open_close  open  close open_time open_close
0              oc_500      วันจันทร์   6.0   18.0  06:00:00   18:00:00
1              oc_500      วันอังคาร   6.0   18.0  06:00:00   18:00:00
2              oc_500         วันพุธ   6.0   18.0  06:00:00   18:00:00
3              oc_500    วันพฤหัสบดี   6.0   18.0  06:00:00   18:00:00
4              oc_500       วันศุกร์   6.0   18.0  06:00:00   18:00:00
5              oc_500       วันเสาร์   6.0   18.0  06:00:00   18:00:00
6              oc_500     วันอาทิตย์   6.0   18.0  06:00:00   18:00:00
7              oc_501      วันจันทร์   8.3   19.0  08:30:00   19:00:00
8              oc_501      วันอังคาร   8.3   19.0  08:30:00   19:00:00
9              oc_501         วันพุธ   8.3   19.0  08:30:00   19:00:00
10             oc_501    วันพฤหัสบดี   8.3   19.0  08:30:00   19:00:00
11             oc_501       วันศุกร์   8.3   19.0  08:30:00   19:00:00
12             oc_501       วันเสาร์   8.3   19.0  08:30:00   19:00:00
13             oc_501     วันอาทิตย์   8.3   19.0  08:30:00   19:00:00
14             oc_502      วันจันทร์   5.0   21.0  05:00:00   21:00:00
15             oc_502      วันอังคาร   5.0   21.0  05:00:00   21:00:00
16             oc_502         วันพุธ   5.0   21.0  05:00:00   21:00:00
17             oc_502    วันพฤหัสบดี   5.0   21.0  05:00:00   21:00:00
18             oc_502       วันศุกร์   5.0   21.0  05:00:00   21:00:00
19             oc_502       วันเสาร์   5.0   21.0  05:00:00   21:00:00
20             oc_502     วันอาทิตย์   5.0   21.0  05:00:00   21:00:00
21             oc_503      วันจันทร์   6.0   17.0  06:00:00   17:00:00
22             oc_503      วันอังคาร   6.0   17.0  06:00:00   17:00:00
23             oc_503         วันพุธ   6.0   17.0  06:00:00   17:00:00
24             oc_503    วันพฤหัสบดี   6.0   17.0  06:00:00   17:00:00
25             oc_503       วันศุกร์   6.0   17.0  06:00:00   17:00:00
26             oc_503       วันเสาร์   6.0   17.0  06:00:00   17:00:00
27             oc_503     วันอาทิตย์   6.0   17.0  06:00:00   17:00:00
28                NaN            NaN   NaN    NaN      None       None
29             oc_505      วันจันทร์  10.0   20.3  10:00:00   20:30:00
30             oc_505      วันอังคาร  10.0   20.3  10:00:00   20:30:00
31             oc_505         วันพุธ  10.0   20.3  10:00:00   20:30:00
32             oc_505    วันพฤหัสบดี  10.0   20.3  10:00:00   20:30:00
33             oc_505       วันศุกร์  10.0   20.3  10:00:00   20:30:00
34             oc_505       วันเสาร์  10.0   20.3  10:00:00   20:30:00
35             oc_505     วันอาทิตย์  10.0   20.3  10:00:00   20:30:00
36             oc_506      วันจันทร์   6.3   19.0  06:29:00   19:00:00
37             oc_506      วันอังคาร   6.3   19.0  06:29:00   19:00:00
38             oc_506         วันพุธ   6.3   19.0  06:29:00   19:00:00
39             oc_506    วันพฤหัสบดี   6.3   19.0  06:29:00   19:00:00
40             oc_506       วันศุกร์   6.3   19.0  06:29:00   19:00:00
41             oc_506       วันเสาร์   6.3   19.0  06:29:00   19:00:00
42             oc_506     วันอาทิตย์   6.3   19.0  06:29:00   19:00:00
43             oc_507      วันจันทร์   6.0   18.0  06:00:00   18:00:00
44             oc_507      วันอังคาร   6.0   18.0  06:00:00   18:00:00
45             oc_507         วันพุธ   6.0   18.0  06:00:00   18:00:00
46             oc_507    วันพฤหัสบดี   6.0   18.0  06:00:00   18:00:00
47             oc_507       วันศุกร์   6.0   18.0  06:00:00   18:00:00
48             oc_507       วันเสาร์   6.0   18.0  06:00:00   18:00:00
49             oc_507     วันอาทิตย์   6.0   18.0  06:00:00   18:00:00

In [54]:
df_1_op.to_csv('df_1_open_close_clean.csv', index=False,encoding='utf-8-sig')
df_2_op.to_csv('df_2_open_close_clean.csv', index=False,encoding='utf-8-sig')
df_3_op.to_csv('df_3_open_close_clean.csv', index=False,encoding='utf-8-sig')

# df_option

In [56]:
df_1_option = pd.read_csv('df_option500.csv')
df_2_option = pd.read_csv('df_option600.csv')
df_3_option = pd.read_csv('df_option800.csv')

In [57]:
print(df_1_option['option'].nunique())
df_1_option['option'].unique()

26

array(['ที่จอดรถที่เก้าอี้รถเข็นสามารถใช้ได้', 'ที่นั่งกลางแจ้ง',
       'บริการจัดส่ง', 'สั่งกลับบ้าน', 'กาแฟรสชาติเยี่ยม',
       'ขนมหวานรสชาติเยี่ยม', 'ตัวเลือกชารสเลิศ',
       'เหมาะกับการทำงานด้วยแล็ปท็อป', 'กาแฟ', 'ของหวาน', 'ที่นั่ง',
       'ความเป็นกันเอง', 'ทันสมัย', 'ขาจร', 'นักศึกษามหาวิทยาลัย',
       'เมนูสำหรับเด็ก', 'เหมาะสำหรับเด็ก',
       'ที่จอดรถริมถนนแบบไม่เสียค่าใช้จ่าย', 'นั่งรับประทานที่ร้าน',
       'มาเป็นกลุ่ม', 'มีที่จอดจำนวนมาก', 'ที่จอดรถแบบไม่เสียค่าใช้จ่าย',
       'รับประทานอาหารคนเดียว', 'รับสินค้าโดยไม่ต้องลงจากรถ',
       'บัตรเครดิต', 'ไดรฟ์ทรู'], dtype=object)

In [58]:
df_1_option['option'] = df_1_option['option'].replace('Wi-Fi ฟรี', 'Wi-Fi')
print(df_1_option['option'].nunique())
df_1_option['option'].unique()

26

array(['ที่จอดรถที่เก้าอี้รถเข็นสามารถใช้ได้', 'ที่นั่งกลางแจ้ง',
       'บริการจัดส่ง', 'สั่งกลับบ้าน', 'กาแฟรสชาติเยี่ยม',
       'ขนมหวานรสชาติเยี่ยม', 'ตัวเลือกชารสเลิศ',
       'เหมาะกับการทำงานด้วยแล็ปท็อป', 'กาแฟ', 'ของหวาน', 'ที่นั่ง',
       'ความเป็นกันเอง', 'ทันสมัย', 'ขาจร', 'นักศึกษามหาวิทยาลัย',
       'เมนูสำหรับเด็ก', 'เหมาะสำหรับเด็ก',
       'ที่จอดรถริมถนนแบบไม่เสียค่าใช้จ่าย', 'นั่งรับประทานที่ร้าน',
       'มาเป็นกลุ่ม', 'มีที่จอดจำนวนมาก', 'ที่จอดรถแบบไม่เสียค่าใช้จ่าย',
       'รับประทานอาหารคนเดียว', 'รับสินค้าโดยไม่ต้องลงจากรถ',
       'บัตรเครดิต', 'ไดรฟ์ทรู'], dtype=object)

In [59]:
print(df_2_option['option'].nunique())
df_2_option['option'].unique()

25

array(['ห้องน้ำรองรับเก้าอี้รถเข็น', 'ที่นั่งกลางแจ้ง', 'บริการจัดส่ง',
       'สั่งกลับบ้าน', 'นั่งรับประทานที่ร้าน', 'กาแฟรสชาติเยี่ยม',
       'ขนมหวานรสชาติเยี่ยม', 'ตัวเลือกชารสเลิศ', 'รับประทานอาหารคนเดียว',
       'เหมาะกับการทำงานด้วยแล็ปท็อป', 'กาแฟ', 'ของหวาน', 'ที่นั่ง',
       'ห้องน้ำ', 'ความเป็นกันเอง', 'ทันสมัย', 'อบอุ่น', 'ขาจร',
       'นักศึกษามหาวิทยาลัย', 'มาเป็นกลุ่ม', 'เมนูสำหรับเด็ก',
       'เหมาะสำหรับเด็ก', 'มีที่จอดจำนวนมาก',
       'ที่จอดรถแบบไม่เสียค่าใช้จ่าย',
       'ที่จอดรถริมถนนแบบไม่เสียค่าใช้จ่าย'], dtype=object)

In [60]:
df_2_option['option'] = df_2_option['option'].replace('Wi-Fi ฟรี', 'Wi-Fi')
print(df_2_option['option'].nunique())
df_2_option['option'].unique()

25

array(['ห้องน้ำรองรับเก้าอี้รถเข็น', 'ที่นั่งกลางแจ้ง', 'บริการจัดส่ง',
       'สั่งกลับบ้าน', 'นั่งรับประทานที่ร้าน', 'กาแฟรสชาติเยี่ยม',
       'ขนมหวานรสชาติเยี่ยม', 'ตัวเลือกชารสเลิศ', 'รับประทานอาหารคนเดียว',
       'เหมาะกับการทำงานด้วยแล็ปท็อป', 'กาแฟ', 'ของหวาน', 'ที่นั่ง',
       'ห้องน้ำ', 'ความเป็นกันเอง', 'ทันสมัย', 'อบอุ่น', 'ขาจร',
       'นักศึกษามหาวิทยาลัย', 'มาเป็นกลุ่ม', 'เมนูสำหรับเด็ก',
       'เหมาะสำหรับเด็ก', 'มีที่จอดจำนวนมาก',
       'ที่จอดรถแบบไม่เสียค่าใช้จ่าย',
       'ที่จอดรถริมถนนแบบไม่เสียค่าใช้จ่าย'], dtype=object)

In [61]:
df_2_option['option'] = df_2_option['option'].replace('\ue033', np.nan)
print(df_2_option['option'].nunique())
df_2_option['option'].unique()

25

array(['ห้องน้ำรองรับเก้าอี้รถเข็น', 'ที่นั่งกลางแจ้ง', 'บริการจัดส่ง',
       'สั่งกลับบ้าน', 'นั่งรับประทานที่ร้าน', 'กาแฟรสชาติเยี่ยม',
       'ขนมหวานรสชาติเยี่ยม', 'ตัวเลือกชารสเลิศ', 'รับประทานอาหารคนเดียว',
       'เหมาะกับการทำงานด้วยแล็ปท็อป', 'กาแฟ', 'ของหวาน', 'ที่นั่ง',
       'ห้องน้ำ', 'ความเป็นกันเอง', 'ทันสมัย', 'อบอุ่น', 'ขาจร',
       'นักศึกษามหาวิทยาลัย', 'มาเป็นกลุ่ม', 'เมนูสำหรับเด็ก',
       'เหมาะสำหรับเด็ก', 'มีที่จอดจำนวนมาก',
       'ที่จอดรถแบบไม่เสียค่าใช้จ่าย',
       'ที่จอดรถริมถนนแบบไม่เสียค่าใช้จ่าย'], dtype=object)

In [62]:
print(df_3_option['option'].nunique())
df_3_option['option'].unique()

31

array(['ที่จอดรถที่เก้าอี้รถเข็นสามารถใช้ได้',
       'ที่นั่งสำหรับเก้าอี้รถเข็น', 'ห้องน้ำรองรับเก้าอี้รถเข็น',
       'สั่งกลับบ้าน', 'นั่งรับประทานที่ร้าน', 'กาแฟรสชาติเยี่ยม',
       'ขนมหวานรสชาติเยี่ยม', 'ตัวเลือกชารสเลิศ', 'รับประทานอาหารคนเดียว',
       'เหมาะกับการทำงานด้วยแล็ปท็อป', 'กาแฟ', 'ของหวาน', 'ห้องน้ำ',
       'ความเป็นกันเอง', 'ทันสมัย', 'อบอุ่น', 'ขาจร', 'มาเป็นกลุ่ม',
       'บัตรเครดิต', 'เมนูสำหรับเด็ก', 'เหมาะสำหรับเด็ก',
       'ที่จอดรถแบบไม่เสียค่าใช้จ่าย',
       'ที่จอดรถริมถนนแบบไม่เสียค่าใช้จ่าย', 'บริการจัดส่ง',
       'ที่นั่งกลางแจ้ง', 'รับสินค้าโดยไม่ต้องลงจากรถ',
       'จัดส่งโดยไม่สัมผัส', 'อาหารจานเล็ก', 'ที่นั่ง',
       'นักศึกษามหาวิทยาลัย', 'โดยปกติต้องรอ'], dtype=object)

In [63]:
df_3_option['option'] = df_3_option['option'].replace('Wi-Fi ฟรี', 'Wi-Fi')
print(df_3_option['option'].nunique())
df_3_option['option'].unique()

31

array(['ที่จอดรถที่เก้าอี้รถเข็นสามารถใช้ได้',
       'ที่นั่งสำหรับเก้าอี้รถเข็น', 'ห้องน้ำรองรับเก้าอี้รถเข็น',
       'สั่งกลับบ้าน', 'นั่งรับประทานที่ร้าน', 'กาแฟรสชาติเยี่ยม',
       'ขนมหวานรสชาติเยี่ยม', 'ตัวเลือกชารสเลิศ', 'รับประทานอาหารคนเดียว',
       'เหมาะกับการทำงานด้วยแล็ปท็อป', 'กาแฟ', 'ของหวาน', 'ห้องน้ำ',
       'ความเป็นกันเอง', 'ทันสมัย', 'อบอุ่น', 'ขาจร', 'มาเป็นกลุ่ม',
       'บัตรเครดิต', 'เมนูสำหรับเด็ก', 'เหมาะสำหรับเด็ก',
       'ที่จอดรถแบบไม่เสียค่าใช้จ่าย',
       'ที่จอดรถริมถนนแบบไม่เสียค่าใช้จ่าย', 'บริการจัดส่ง',
       'ที่นั่งกลางแจ้ง', 'รับสินค้าโดยไม่ต้องลงจากรถ',
       'จัดส่งโดยไม่สัมผัส', 'อาหารจานเล็ก', 'ที่นั่ง',
       'นักศึกษามหาวิทยาลัย', 'โดยปกติต้องรอ'], dtype=object)

In [64]:
df_3_option['option'] = df_3_option['option'].replace('\ue033', np.nan)
print(df_3_option['option'].nunique())
df_3_option['option'].unique()

31

array(['ที่จอดรถที่เก้าอี้รถเข็นสามารถใช้ได้',
       'ที่นั่งสำหรับเก้าอี้รถเข็น', 'ห้องน้ำรองรับเก้าอี้รถเข็น',
       'สั่งกลับบ้าน', 'นั่งรับประทานที่ร้าน', 'กาแฟรสชาติเยี่ยม',
       'ขนมหวานรสชาติเยี่ยม', 'ตัวเลือกชารสเลิศ', 'รับประทานอาหารคนเดียว',
       'เหมาะกับการทำงานด้วยแล็ปท็อป', 'กาแฟ', 'ของหวาน', 'ห้องน้ำ',
       'ความเป็นกันเอง', 'ทันสมัย', 'อบอุ่น', 'ขาจร', 'มาเป็นกลุ่ม',
       'บัตรเครดิต', 'เมนูสำหรับเด็ก', 'เหมาะสำหรับเด็ก',
       'ที่จอดรถแบบไม่เสียค่าใช้จ่าย',
       'ที่จอดรถริมถนนแบบไม่เสียค่าใช้จ่าย', 'บริการจัดส่ง',
       'ที่นั่งกลางแจ้ง', 'รับสินค้าโดยไม่ต้องลงจากรถ',
       'จัดส่งโดยไม่สัมผัส', 'อาหารจานเล็ก', 'ที่นั่ง',
       'นักศึกษามหาวิทยาลัย', 'โดยปกติต้องรอ'], dtype=object)

In [65]:
df_1_option.to_csv('df_1_option_clean.csv', index=False,encoding='utf-8-sig')
df_2_option.to_csv('df_2_option_clean.csv', index=False,encoding='utf-8-sig')
df_3_option.to_csv('df_3_option_clean.csv', index=False,encoding='utf-8-sig')

# df_review

ทำอีกไฟล์