In [1]:
import pandas as pd
import re 
import numpy as np

In [4]:
df_1 = pd.read_csv('clean/df_1_main_clean.csv')
df_2 = pd.read_csv('clean/df_2_main_clean.csv')
df_3 = pd.read_csv('clean/df_3_main_clean.csv')

In [8]:
len(df_1.columns) == len(df_2.columns) == len(df_3.columns)

True

In [18]:
result = pd.concat([df_1, df_3,  df_2], axis=0,ignore_index=True)

In [19]:
result.to_csv('df_main_clean.csv', index=False,encoding='utf-8-sig')

In [43]:
df_1 = pd.read_csv('clean/df_1_ci_clean.csv')
df_2 = pd.read_csv('clean/df_2_ci_clean.csv')
df_3 = pd.read_csv('clean/df_3_ci_clean.csv')

In [44]:
len(df_1.columns) == len(df_2.columns) == len(df_3.columns)

True

In [45]:
result = pd.concat([df_1, df_3,  df_2], axis=0,ignore_index=True)

In [46]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8668 entries, 0 to 8667
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_customer_main  8564 non-null   object
 1   customer          8564 non-null   object
 2   customer_day      8564 non-null   object
 3   time              8551 non-null   object
 4   percent           8551 non-null   float64
dtypes: float64(1), object(4)
memory usage: 338.7+ KB

In [47]:
result.isnull().sum()

id_customer_main    104
customer            104
customer_day        104
time                117
percent             117
dtype: int64

In [48]:
result = result.dropna()
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8551 entries, 0 to 8666
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_customer_main  8551 non-null   object
 1   customer          8551 non-null   object
 2   customer_day      8551 non-null   object
 3   time              8551 non-null   object
 4   percent           8551 non-null   float64
dtypes: float64(1), object(4)
memory usage: 400.8+ KB

In [49]:
result.to_csv('df_ci_clean.csv', index=False,encoding='utf-8-sig')

In [50]:
df_1 = pd.read_csv('clean/df_1_open_close_clean.csv')
df_2 = pd.read_csv('clean/df_2_open_close_clean.csv')
df_3 = pd.read_csv('clean/df_3_open_close_clean.csv')

In [51]:
result = pd.concat([df_1, df_3,  df_2], axis=0,ignore_index=True)

In [52]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1088 entries, 0 to 1087
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_open_close_main  1071 non-null   object
 1   day_open_close      1071 non-null   object
 2   open                1071 non-null   float64
 3   close               1071 non-null   float64
 4   open_time           1071 non-null   object
 5   open_close          1071 non-null   object
dtypes: float64(2), object(4)
memory usage: 51.1+ KB

In [53]:
result = result.dropna()

In [54]:
result.isnull().sum()

id_open_close_main    0
day_open_close        0
open                  0
close                 0
open_time             0
open_close            0
dtype: int64

In [55]:
result.to_csv('df_open_close_clean.csv', index=False,encoding='utf-8-sig')

In [70]:
df_1 = pd.read_csv('clean/df_1_option_clean.csv')
df_2 = pd.read_csv('clean/df_2_option_clean.csv')
df_3 = pd.read_csv('clean/df_3_option_clean.csv')

In [71]:
result = pd.concat([df_1, df_3,  df_2], axis=0,ignore_index=True)

In [72]:
result

     id_option_main                option
0          option_1       ที่นั่งกลางแจ้ง
1          option_1          บริการจัดส่ง
2          option_1          สั่งกลับบ้าน
3          option_1  นั่งรับประทานที่ร้าน
4          option_1      กาแฟรสชาติเยี่ยม
...             ...                   ...
3067     option_170                อบอุ่น
3068     option_170                  ขาจร
3069     option_170           มาเป็นกลุ่ม
3070     option_170       เหมาะสำหรับเด็ก
3071     option_170      มีที่จอดจำนวนมาก

[3072 rows x 2 columns]

In [73]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3072 entries, 0 to 3071
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_option_main  3072 non-null   object
 1   option          3053 non-null   object
dtypes: object(2)
memory usage: 48.1+ KB

In [74]:
result = result.dropna()
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3053 entries, 0 to 3071
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_option_main  3053 non-null   object
 1   option          3053 non-null   object
dtypes: object(2)
memory usage: 71.6+ KB

In [75]:
result['option'].unique()

array(['ที่นั่งกลางแจ้ง', 'บริการจัดส่ง', 'สั่งกลับบ้าน',
       'นั่งรับประทานที่ร้าน', 'กาแฟรสชาติเยี่ยม', 'ขนมหวานรสชาติเยี่ยม',
       'ตัวเลือกชารสเลิศ', 'ตัวเลือกเบียร์รสชาติเยี่ยม', 'อาหารค่ำ',
       'รับประทานอาหารคนเดียว', 'เหมาะกับการทำงานด้วยแล็ปท็อป', 'กาแฟ',
       'เบียร์', 'ไวน์', 'อาหารจานเล็ก', 'อาหารมื้อดึก', 'แอลกอฮอล์',
       'อาหารเช้า', 'อาหารมื้อสาย', 'อาหารกลางวัน', 'บริการจัดเลี้ยง',
       'ของหวาน', 'ที่นั่ง', 'ห้องน้ำ', 'ความเป็นกันเอง', 'ทันสมัย',
       'โรแมนติก', 'อบอุ่น', 'ขาจร', 'นักศึกษามหาวิทยาลัย',
       'พื้นที่ที่ยอมรับบุคคลข้ามเพศ', 'มาเป็นกลุ่ม',
       'เหมาะสำหรับครอบครัว', 'เหมาะสำหรับ LGBTQ+', 'รับจอง',
       'บัตรเครดิต', 'บัตรเดบิต', 'เมนูสำหรับเด็ก', 'เหมาะสำหรับเด็ก',
       'มีที่จอดจำนวนมาก', 'ที่จอดรถแบบไม่เสียค่าใช้จ่าย',
       'ที่จอดรถริมถนนแบบไม่เสียค่าใช้จ่าย', 'ที่จอดรถแบบเสียค่าใช้จ่าย',
       'อาหารจานด่วน', 'เงียบ', 'เก้าอี้ทานข้าวสำหรับเด็ก',
       'จัดส่งโดยไม่สัมผัส', 'หาที่จอดค่อนข้างยาก',
       'รับสินค้าโดยไม่ต้องลงจากรถ', 'ไดรฟ์ทรู', 'ค็อกเทล',
       'ช่วงลดราคาเครื่องดื่ม', 'ช่วงลดราคาอาหาร', 'ต้อนรับสุนัข',
       'อนุญาตให้นําสุนัขเข้าไปด้านใน', 'อนุญาตให้สุนัขอยู่ด้านนอก',
       'Wi-Fi', 'รับเฉพาะเงินสด', 'ระบุว่ามีเจ้าของเป็นผู้หญิง',
       'ทางเข้าสำหรับเก้าอี้รถเข็น',
       'ที่จอดรถที่เก้าอี้รถเข็นสามารถใช้ได้',
       'ที่นั่งสำหรับเก้าอี้รถเข็น', 'ค็อกเทลรสชาติเยี่ยม',
       'เหล้าดีกรีสูง', 'มีบาร์', 'หรูหรา', 'เหมาะกับกิจกรรมวันเกิดเด็ก',
       'ตัวเลือกสำหรับมังสวิรัติ', 'อาหารออร์แกนิก',
       'การชำระเงินผ่าน NFC บนอุปกรณ์เคลื่อนที่', 'ที่จอดรถในพื้นที่',
       'การเปิดให้บริการที่หน้าร้าน', 'ให้บริการอาหารวีแกน',
       'ห้องน้ำรองรับเก้าอี้รถเข็น', 'ดนตรีสด',
       'ระบบอำนวยความสะดวกช่วยเพิ่มการได้ยิน', 'การแสดงสด',
       'ห้องน้ำไม่แบ่งเพศ', 'รายการไวน์ชั้นดี', 'มารับของที่ร้าน',
       'การจัดส่งวันเดียวกัน', 'แวะในช่วงเวลาสั้นๆ', 'โดยปกติต้องรอ',
       'ต้องจอง', 'โรงจอดรถแบบไม่เสียค่าใช้จ่าย', 'การเลือกซื้อในร้านค้า'],
      dtype=object)

In [76]:
result.to_csv('df_option_clean.csv', index=False,encoding='utf-8-sig')

In [63]:
df_1 = pd.read_csv('clean/df_1_review_clean.csv')
df_2 = pd.read_csv('clean/df_2_review_clean.csv')
df_3 = pd.read_csv('clean/df_3_review_clean.csv')

In [64]:
result = pd.concat([df_1, df_3,  df_2], axis=0,ignore_index=True)

In [65]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2772 entries, 0 to 2771
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_review_main  2747 non-null   object
 1   review_rating   2747 non-null   float64
 2   review_text     2747 non-null   object
 3   sentiment       2747 non-null   object
dtypes: float64(1), object(3)
memory usage: 86.8+ KB

In [66]:
result.isnull().sum()

id_review_main    25
review_rating     25
review_text       25
sentiment         25
dtype: int64

In [67]:
result = result.dropna()

In [ ]:
result.to_csv('df_review_clean.csv', index=False,encoding='utf-8-sig')