In [1]:
import pandas as pd
import re 
import numpy as np

In [2]:
df_1 = pd.read_csv('df_1_main_clean.csv')
df_2 = pd.read_csv('df_2_main_clean.csv')
df_3 = pd.read_csv('df_3_main_clean.csv')

In [3]:
len(df_1.columns) == len(df_2.columns) == len(df_3.columns)

True

In [4]:
result = pd.concat([df_1, df_3,  df_2], axis=0,ignore_index=True)

In [5]:
result.to_csv('df_main_newclean.csv', index=False,encoding='utf-8-sig')

In [6]:
df_1 = pd.read_csv('df_1_ci_clean.csv')
df_2 = pd.read_csv('df_2_ci_clean.csv')
df_3 = pd.read_csv('df_3_ci_clean.csv')

In [7]:
len(df_1.columns) == len(df_2.columns) == len(df_3.columns)

True

In [8]:
result = pd.concat([df_1, df_3,  df_2], axis=0,ignore_index=True)

In [9]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6529 entries, 0 to 6528
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_customer_main  6437 non-null   object
 1   customer          6437 non-null   object
 2   customer_day      6437 non-null   object
 3   time              6424 non-null   object
 4   percent           6424 non-null   float64
dtypes: float64(1), object(4)
memory usage: 255.2+ KB

In [10]:
result.isnull().sum()

id_customer_main     92
customer             92
customer_day         92
time                105
percent             105
dtype: int64

In [11]:
result = result.dropna()
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6424 entries, 0 to 6528
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_customer_main  6424 non-null   object
 1   customer          6424 non-null   object
 2   customer_day      6424 non-null   object
 3   time              6424 non-null   object
 4   percent           6424 non-null   float64
dtypes: float64(1), object(4)
memory usage: 301.1+ KB

In [12]:
result.to_csv('df_ci_newclean.csv', index=False,encoding='utf-8-sig')

In [13]:
df_1 = pd.read_csv('df_1_open_close_clean.csv')
df_2 = pd.read_csv('df_2_open_close_clean.csv')
df_3 = pd.read_csv('df_3_open_close_clean.csv')

In [14]:
result = pd.concat([df_1, df_3,  df_2], axis=0,ignore_index=True)

In [15]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 964 entries, 0 to 963
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_open_close_main  945 non-null    object
 1   day_open_close      945 non-null    object
 2   open                945 non-null    float64
 3   close               945 non-null    float64
 4   open_time           945 non-null    object
 5   open_close          945 non-null    object
dtypes: float64(2), object(4)
memory usage: 45.3+ KB

In [16]:
result = result.dropna()

In [17]:
result.isnull().sum()

id_open_close_main    0
day_open_close        0
open                  0
close                 0
open_time             0
open_close            0
dtype: int64

In [18]:
result.to_csv('df_open_close_newclean.csv', index=False,encoding='utf-8-sig')

In [19]:
df_1 = pd.read_csv('df_1_option_clean.csv')
df_2 = pd.read_csv('df_2_option_clean.csv')
df_3 = pd.read_csv('df_3_option_clean.csv')

In [20]:
result = pd.concat([df_1, df_3,  df_2], axis=0,ignore_index=True)

In [21]:
result

     id_option_main                              option
0        option_302          รับสินค้าโดยไม่ต้องลงจากรถ
1        option_302                        สั่งกลับบ้าน
2        option_302                นั่งรับประทานที่ร้าน
3        option_302                                   
4        option_302                        บริการจัดส่ง
...             ...                                 ...
2742     option_265                             ทันสมัย
2743     option_265                         มาเป็นกลุ่ม
2744     option_265                      เมนูสำหรับเด็ก
2745     option_265                     เหมาะสำหรับเด็ก
2746     option_265  ที่จอดรถริมถนนแบบไม่เสียค่าใช้จ่าย

[2747 rows x 2 columns]

In [22]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2747 entries, 0 to 2746
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_option_main  2747 non-null   object
 1   option          2739 non-null   object
dtypes: object(2)
memory usage: 43.0+ KB

In [23]:
result = result.dropna()
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2739 entries, 0 to 2746
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_option_main  2739 non-null   object
 1   option          2739 non-null   object
dtypes: object(2)
memory usage: 64.2+ KB

In [24]:
result['option'].unique()

array(['รับสินค้าโดยไม่ต้องลงจากรถ', 'สั่งกลับบ้าน',
       'นั่งรับประทานที่ร้าน', '\ue033', 'บริการจัดส่ง', 'กาแฟ',
       'อาหารสำเร็จ', 'อาหารเช้า', 'อาหารมื้อสาย', 'อาหารกลางวัน',
       'อาหารค่ำ', 'ของหวาน', 'ที่นั่ง', 'ต้องนัดหมายล่วงหน้า', 'รับจอง',
       'ที่จอดรถในพื้นที่', 'ที่จอดรถแบบไม่เสียค่าใช้จ่าย',
       'กาแฟรสชาติเยี่ยม', 'ตัวเลือกชารสเลิศ',
       'เหมาะกับการทำงานด้วยแล็ปท็อป', 'ห้องน้ำ', 'ความเป็นกันเอง',
       'มาเป็นกลุ่ม', 'รับประทานอาหารคนเดียว', 'ทันสมัย', 'อบอุ่น',
       'นักศึกษามหาวิทยาลัย', 'รับเฉพาะเงินสด', 'เมนูสำหรับเด็ก',
       'เหมาะสำหรับเด็ก', 'อาหารจานด่วน', 'อาหารจานเล็ก',
       'ที่จอดรถริมถนนแบบไม่เสียค่าใช้จ่าย', 'ที่นั่งกลางแจ้ง',
       'ขนมหวานรสชาติเยี่ยม', 'จัดส่งโดยไม่สัมผัส', 'อาหารมื้อดึก',
       'ที่จอดรถที่เก้าอี้รถเข็นสามารถใช้ได้', 'ขาจร', 'เงียบ',
       'ทางเข้าสำหรับเก้าอี้รถเข็น', 'ที่นั่งสำหรับเก้าอี้รถเข็น',
       'ระบบอำนวยความสะดวกช่วยเพิ่มการได้ยิน',
       'ห้องน้ำรองรับเก้าอี้รถเข็น', 'การเปิดให้บริการที่หน้าร้าน',
       'บริการจัดเลี้ยง', 'ห้องน้ำไม่แบ่งเพศ', 'Wi-Fi',
       'พื้นที่ที่ยอมรับบุคคลข้ามเพศ', 'เหมาะสำหรับครอบครัว',
       'เหมาะสำหรับ LGBTQ+', 'การชำระเงินผ่าน NFC บนอุปกรณ์เคลื่อนที่',
       'ส่วนลดสำหรับครอบครัว', 'ส่วนลดสําหรับเด็ก',
       'อนุญาตให้สุนัขอยู่ด้านนอก', 'เบียร์', 'แอลกอฮอล์',
       'ระบุว่ามีเจ้าของเป็นผู้หญิง', 'ไวน์', 'เหล้าดีกรีสูง', 'มีบาร์',
       'โรแมนติก', 'บัตรเครดิต', 'มีที่จอดจำนวนมาก',
       'โรงจอดรถแบบไม่เสียค่าใช้จ่าย', 'ไดรฟ์ทรู', 'ค็อกเทล',
       'ช่วงลดราคาเครื่องดื่ม', 'ช่วงลดราคาอาหาร',
       'เก้าอี้ทานข้าวสำหรับเด็ก', 'แนะนำให้จองอาหารมื้อสาย',
       'แนะนำให้จองอาหารกลางวัน', 'แนะนำให้จองอาหารค่ำ', 'โดยปกติต้องรอ',
       'หาที่จอดค่อนข้างยาก', 'รายการไวน์ชั้นดี', 'อาหาร', 'หาที่จอดยาก',
       'อาหารฮาลาล', 'ตัวเลือกเบียร์รสชาติเยี่ยม',
       'ตัวเลือกสำหรับมังสวิรัติ', 'บัตรเดบิต', 'ต้อนรับสุนัข',
       'อนุญาตให้นําสุนัขเข้าไปด้านใน', 'ที่จอดรถแบบเสียค่าใช้จ่าย',
       'กีฬา', 'ดนตรีสด', 'ต้องจอง', 'มารับของที่ร้าน',
       'การเลือกซื้อในร้านค้า', 'การจัดส่งวันเดียวกัน',
       'แวะในช่วงเวลาสั้นๆ', 'อุปกรณ์อิเล็กทรอนิกส์', 'บุฟเฟ่ต์',
       'การแสดงสด'], dtype=object)

In [25]:
result.to_csv('df_option_newclean.csv', index=False,encoding='utf-8-sig')

In [26]:
df_1 = pd.read_csv('df_1_review_clean.csv')
df_2 = pd.read_csv('df_2_review_clean.csv')
df_3 = pd.read_csv('df_3_review_clean.csv')

In [27]:
result = pd.concat([df_1, df_3,  df_2], axis=0,ignore_index=True)

In [28]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3016 entries, 0 to 3015
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_review_main  2682 non-null   object
 1   review_rating   2682 non-null   float64
 2   review_text     2682 non-null   object
 3   sentiment       2682 non-null   object
dtypes: float64(1), object(3)
memory usage: 94.4+ KB

In [29]:
result.isnull().sum()

id_review_main    334
review_rating     334
review_text       334
sentiment         334
dtype: int64

In [30]:
result = result.dropna()

In [31]:
result.to_csv('df_review_newclean.csv', index=False,encoding='utf-8-sig')