In [2]:
import pandas as pd
import re 
import numpy as np

In [20]:
# df_1 = pd.read_csv('./Final2/df_ci_clean.csv')
# df_2 = pd.read_csv('./Final2/df_ci_newclean.csv')

# df_1 = pd.read_csv('./Final2/df_open_close_clean.csv')
# df_2 = pd.read_csv('./Final2/df_open_close_newclean.csv')

# df_1 = pd.read_csv('./Final2/df_option_clean.csv')
# df_2 = pd.read_csv('./Final2/df_option_newclean.csv')

df_1 = pd.read_csv('./Final2/df_review_clean.csv')
df_2 = pd.read_csv('./Final2/df_review_newclean.csv')

In [3]:
df_1 = pd.read_csv('df_main_oldclean0.csv')
df_2 = pd.read_csv('df_main_newclean0.csv')
# df_3 = pd.read_csv('df_3_main_clean.csv')

In [6]:
df_1 = pd.read_csv('df_1_main_clean.csv')
df_2 = pd.read_csv('df_2_main_clean.csv')
df_3 = pd.read_csv('df_3_main_clean.csv')

In [7]:
len(df_1.columns) == len(df_2.columns) == len(df_3.columns) 
# len(df_1.columns) == len(df_2.columns)

True

In [8]:
result = pd.concat([df_1, df_3,  df_2], axis=0,ignore_index=True)
# result = pd.concat([df_1, df_2], axis=0,ignore_index=True)

In [9]:
result.to_csv('df_main2.csv', index=False,encoding='utf-8-sig')

In [10]:
df_1 = pd.read_csv('df_1_ci_clean.csv')
df_2 = pd.read_csv('df_2_ci_clean.csv')
df_3 = pd.read_csv('df_3_ci_clean.csv')

In [11]:
len(df_1.columns) == len(df_2.columns) == len(df_3.columns)

True

In [12]:
result = pd.concat([df_1, df_3,  df_2], axis=0,ignore_index=True)

In [13]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1754 entries, 0 to 1753
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_customer_main  1750 non-null   object
 1   customer          1750 non-null   object
 2   customer_day      1750 non-null   object
 3   time              1747 non-null   object
 4   percent           1747 non-null   float64
dtypes: float64(1), object(4)
memory usage: 68.6+ KB

In [14]:
result.isnull().sum()

id_customer_main    4
customer            4
customer_day        4
time                7
percent             7
dtype: int64

In [15]:
result = result.dropna()
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1747 entries, 0 to 1753
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_customer_main  1747 non-null   object
 1   customer          1747 non-null   object
 2   customer_day      1747 non-null   object
 3   time              1747 non-null   object
 4   percent           1747 non-null   float64
dtypes: float64(1), object(4)
memory usage: 81.9+ KB

In [16]:
result.to_csv('df_ci2.csv', index=False,encoding='utf-8-sig')

In [17]:
df_1 = pd.read_csv('df_1_open_close_clean.csv')
df_2 = pd.read_csv('df_2_open_close_clean.csv')
df_3 = pd.read_csv('df_3_open_close_clean.csv')

In [18]:
result = pd.concat([df_1, df_3,  df_2], axis=0,ignore_index=True)

In [19]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_open_close_main  112 non-null    object
 1   day_open_close      112 non-null    object
 2   open                112 non-null    float64
 3   close               112 non-null    float64
 4   open_time           112 non-null    object
 5   open_close          112 non-null    object
dtypes: float64(2), object(4)
memory usage: 5.5+ KB

In [20]:
result = result.dropna()

In [21]:
result.isnull().sum()

id_open_close_main    0
day_open_close        0
open                  0
close                 0
open_time             0
open_close            0
dtype: int64

In [22]:
result.to_csv('df_open_close2.csv', index=False,encoding='utf-8-sig')

In [23]:
df_1 = pd.read_csv('df_1_option_clean.csv')
df_2 = pd.read_csv('df_2_option_clean.csv')
df_3 = pd.read_csv('df_3_option_clean.csv')

In [24]:
result = pd.concat([df_1, df_3,  df_2], axis=0,ignore_index=True)

In [25]:
result

    id_option_main                                option
0       option_500  ที่จอดรถที่เก้าอี้รถเข็นสามารถใช้ได้
1       option_500                       ที่นั่งกลางแจ้ง
2       option_500                          บริการจัดส่ง
3       option_500                          สั่งกลับบ้าน
4       option_500                      กาแฟรสชาติเยี่ยม
..             ...                                   ...
306     option_600                        เมนูสำหรับเด็ก
307     option_600                       เหมาะสำหรับเด็ก
308     option_600                      มีที่จอดจำนวนมาก
309     option_600          ที่จอดรถแบบไม่เสียค่าใช้จ่าย
310     option_600    ที่จอดรถริมถนนแบบไม่เสียค่าใช้จ่าย

[311 rows x 2 columns]

In [26]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_option_main  311 non-null    object
 1   option          311 non-null    object
dtypes: object(2)
memory usage: 5.0+ KB

In [27]:
result = result.dropna()
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_option_main  311 non-null    object
 1   option          311 non-null    object
dtypes: object(2)
memory usage: 5.0+ KB

In [28]:
result['option'].unique()

array(['ที่จอดรถที่เก้าอี้รถเข็นสามารถใช้ได้', 'ที่นั่งกลางแจ้ง',
       'บริการจัดส่ง', 'สั่งกลับบ้าน', 'กาแฟรสชาติเยี่ยม',
       'ขนมหวานรสชาติเยี่ยม', 'ตัวเลือกชารสเลิศ',
       'เหมาะกับการทำงานด้วยแล็ปท็อป', 'กาแฟ', 'ของหวาน', 'ที่นั่ง',
       'ความเป็นกันเอง', 'ทันสมัย', 'ขาจร', 'นักศึกษามหาวิทยาลัย',
       'เมนูสำหรับเด็ก', 'เหมาะสำหรับเด็ก',
       'ที่จอดรถริมถนนแบบไม่เสียค่าใช้จ่าย', 'นั่งรับประทานที่ร้าน',
       'มาเป็นกลุ่ม', 'มีที่จอดจำนวนมาก', 'ที่จอดรถแบบไม่เสียค่าใช้จ่าย',
       'รับประทานอาหารคนเดียว', 'รับสินค้าโดยไม่ต้องลงจากรถ',
       'บัตรเครดิต', 'ไดรฟ์ทรู', 'ที่นั่งสำหรับเก้าอี้รถเข็น',
       'ห้องน้ำรองรับเก้าอี้รถเข็น', 'ห้องน้ำ', 'อบอุ่น',
       'จัดส่งโดยไม่สัมผัส', 'อาหารจานเล็ก', 'โดยปกติต้องรอ'],
      dtype=object)

In [29]:
result.to_csv('df_option2.csv', index=False,encoding='utf-8-sig')

In [30]:
df_1 = pd.read_csv('df_1_review_clean.csv')
df_2 = pd.read_csv('df_2_review_clean.csv')
df_3 = pd.read_csv('df_3_review_clean.csv')

In [31]:
result = pd.concat([df_1, df_3,  df_2], axis=0,ignore_index=True)

In [32]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_review_main  502 non-null    object
 1   review_rating   502 non-null    int64
 2   review_text     502 non-null    object
 3   sentiment       502 non-null    object
dtypes: int64(1), object(3)
memory usage: 15.8+ KB

In [33]:
result.isnull().sum()

id_review_main    0
review_rating     0
review_text       0
sentiment         0
dtype: int64

In [34]:
result = result.dropna()

In [35]:
result.to_csv('df_review2.csv', index=False,encoding='utf-8-sig')

In [ ]:
#รวมสุดท้ายใหญ่ สุด

In [52]:
# df_1 = pd.read_csv('./Final3/df_main2.csv')
# df_2 = pd.read_csv('./Final3/df_main.csv')
# df_1 = pd.read_csv('./Final3/df_ci2.csv')
# df_2 = pd.read_csv('./Final3/df_ci.csv')
# df_1 = pd.read_csv('./Final3/df_option2.csv')
# df_2 = pd.read_csv('./Final3/df_option.csv')
# df_1 = pd.read_csv('./Final3/df_review2.csv')
# df_2 = pd.read_csv('./Final3/df_review.csv')
df_1 = pd.read_csv('./Final3/df_open_close2.csv')
df_2 = pd.read_csv('./Final3/df_open_close.csv')

In [53]:
result = pd.concat([df_1, df_2], axis=0,ignore_index=True)

In [54]:
result.to_csv('df_open_closeA.csv', index=False,encoding='utf-8-sig')